/* 全局css变量 */
$--color-primary: var(--ant-primary-color);

.primary-color {
  color: var(--ant-primary-color);
}

.background-opacity {
  background: var(--ant-primary-4);
}

.form-widget-list {
  .ghost {
    content: '';
    font-size: 0;
    height: 3px;
    box-sizing: border-box;
    background: $--color-primary;
    border: 2px solid $--color-primary;
    outline-width: 0;
    padding: 0;
    overflow: hidden;
  }
}



/* 滚动条样式 end */


.button-text-highlight {
  &.ant-btn {
    font-weight: bold;
    color:  var(--ant-primary-color);
  }
}

.custom-divider {
  &.ant-divider {
    font-size: 14px;
    margin: 5px;
  }
}
